body{
    background-color:#fff;
    font-size: large;
    font-family:"Gamja flower";
    font-weight: bold;
}

header{
    background-color: #e4572e;
    font-size: 15px;
    font-family: "Chelsea market";
    text-align: center;
    text-shadow: 1px 1px #fff;
    padding: 4px 4px;
    line-height: 1.0em;
}

.main{
    font-family: "Gamja flower";
    margin: auto;
    width: 70%;
    font-size: 20px;

}

.addNotebox {
    width: 37.5rem;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
}

.addNoteBtn {
    width: 100%;
    height: 30px;
    border: none;
    background-color: #000;
    color: #fff;
    border: 4px solid #050401;
    box-shadow: 3px 3px 0 0 #e4572e; 
}




.first{
   border: 4px solid #e4572e;
   box-sizing: border-box;
   box-shadow: 3px 3px 0 0;
   margin-bottom: 10px;
   margin-top: 10px;
   min-height: 150px;
   line-height: 1.0em;
   padding-left: 10px;
}

.second{
    border: 4px solid #e4572e;
   box-sizing: border-box;
   box-shadow: 3px 3px 0 0;
   margin-bottom: 10px;
   min-height: 200px;
   line-height: 1.0em;
   padding-left: 5px;
}

.image1{
    float: right;
    height: 100px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;

}

.image2{
    float: right;


    height: 100px;
    padding-right: 10px;
    padding-top: 10px;
}

.form{
    margin-left: 26%;
    margin-right: 26%;
    margin-bottom: 7%;
}

.footer{
    text-align: center;
}

.form-p{
    border: 4px solid #050401;
    margin-right: 4%;
    margin-left: 4%;
    float: left;
    box-shadow: 4px 4px 0 0 #e4572e;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 5px;

}

.form-s{
    border: 4px solid #050401;
    margin-right: 4%;
    margin-left: 4%;
    border-radius: 5px;
    background-color:#fff;
    color: #34495e;
    box-shadow: 4px 4px 0 0 #e4572e;
    text-decoration: none;

}

.form-s:hover{
    background-color: #34495e;
    color: #fff;
}

.form input{
    border: 0;
    background-color: transparent;
}

.form{
    display: flex;
}

.sign{
    margin: auto;
    width: 20%;
}

.stay{
    margin: auto;
    width: 20%;
}

.join{
    margin: auto;
    width: 20%;
}

.form{
    border-bottom: 4px 4px 0 0 #e4572e;
    border-width: 1px solid black;
}
